* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, sans-serif;
    line-height: 24px;
}

.page-wrap {
    width: 800px;
    margin: 40px auto 60px auto;
    padding: 0 20px;
}

.pic {
    float: right;
    border-radius: 4px;
}

.vcard {
    margin-bottom: 20px;
}

h1 {
    width: calc(100% - 200px);
    margin: 0 0 20px 0;
    border-bottom: 1px solid #999;
    color: #016b5d;
    font-size: 42px;
    letter-spacing: -2px;
}

h1 span {
    color: #343434;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 3;
}

h2 {
    margin: 0 0 15px 0;
    font-size: 20px;
    color: #016b5d;
}

h2 span, .objective p, h3 span {
    font-family: Georgia, serif;
}

h2 span {
    display: block;
    color: #999;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    margin: 0 0 10px 0;
    color: #343434;
    font-size: 16px;
}

h3 span {
    margin-left: 10px;
    color: #999;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}

p {
    margin: 0 0 16px 0;
}

summary {
    cursor: pointer;
}

a {
    border-bottom: 1px dotted #999;
    color: #999;
    text-decoration: none;
}

a:not(.demo *):before { /* only for demo */
    border-bottom: 1px dotted #999;
    color: #999;
    text-decoration: none;
}

a:hover {
    display: inline-block;
    border-bottom-style: solid;
    color: black;
    animation: pulse 0.6s 2;
}

ul {
    margin: 0 0 32px 17px;
}

.objective {
    width: 700px;
    margin-bottom: 40px;
}

.objective p {
    color: #343434;
    font-style: italic;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    width: 120px;
    height: 140px;
    padding: 0 25px 0 0;
    border-right: 1px solid #999;
    color: #343434;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

dd {
    width: 605px;
    margin-bottom: 30px;
    padding-left: 25px;
}

hr {
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.demo {
    width: 450px;
    height: 125px;
    margin: 0 auto 25px;
    padding: 10px;
    border: 3px dashed orange;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.demo:hover, .demo a:hover {
    outline: none !important;
}

.demo a {
    display: block;
    width: 105px;
    margin: 10px auto 0;
    padding: 7px;
    border: 0;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    background-color: darkgreen;
}
.demo a:hover {
    display: block;
    border: 0;
    color: white;
    animation: none;
}

footer {
    display: flex;
    padding: 10px 20px;
    border-top: thin solid #999;
}

footer a {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 7px;
    border: 0;
    background: url("../images/github.svg") no-repeat center center;
    background-size: 22px;
}

footer a:hover {
    animation: none;
}

@keyframes pulse { /* only for demo */
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.01, 1.01, 1.01);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
